# Docker volumes
mysql_data/

# Deployment artifacts
deployments/*.jar.deployed
deployments/*.jar.failed
deployments/*.jar.dodeploy

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Internal source code (allow Dockerfiles)
# aje source include 16 18 21

*aje-keycloak*/src
*aje-keycloak*/.gitignore
*aje-keycloak*/pom.xml

deployments/
versions/kc12_uat/
versions/kc26_uat/
mapper/
archive/16-aje-keycloak-token-mapper-k8s-prod/
